<ion-header>
  <ion-navbar color=danger>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <h1>Exchange rate</h1>
    </ion-card-header>
    <ion-card-content>
      Finance, an exchange rate is the rate at which one currency will be exchanged for another. It is also regarded
      as the value of one country’s currency in relation to another currency.[1] For example, an interbank exchange rate
      of 114 Japanese yen to the United States dollar means that ¥114 will be exchanged for each US$1 or that US$1 will
      be exchanged for each ¥114. In this case it is said that the price of a dollar in relation to yen is ¥114, or
      equivalently that the price of a yen in relation to dollars is $1/114.<br><br>

      Exchange rates are determined in the foreign exchange market,[2] which is open to a wide range of different types
      of buyers and sellers, and where currency trading is continuous: 24 hours a day except weekends, i.e. trading from
      20:15 GMT on Sunday until 22:00 GMT Friday. The spot exchange rate refers to the current exchange rate. The
      forward exchange rate refers to an exchange rate that is quoted and traded today but for delivery and payment on a
      specific future date.<br><br>

      In the retail currency exchange market, different buying and selling rates will be quoted by money dealers. Most
      trades are to or from the local currency. The buying rate is the rate at which money dealers will buy foreign
      currency, and the selling rate is the rate at which they will sell that currency. The quoted rates will
      incorporate an allowance for a dealer's margin (or profit) in trading, or else the margin may be recovered in the
      form of a commission or in some other way. Different rates may also be quoted for cash, a documentary form or
      electronically. The higher rate on documentary transactions has been justified as compensating for the additional
      time and cost of clearing the document. On the other hand, cash is available for resale immediately, but brings
      security, storage, and transportation costs, and the cost of tying up capital in a stock of banknotes ( bills )
    </ion-card-content>
  </ion-card>
</ion-content>