<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="changePageToSingIn()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ _GENARAL.TITLE_TEXT.TITLE_SIGN_UP }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <form [formGroup]="singUpForm" (ngSubmit)="onSubmitSignUp()">

    <ion-item>
      <ion-label floating>{{ _GENARAL.TITLE_TEXT.USER_NAME }}</ion-label>
      <ion-input formControlName="username" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ _GENARAL.TITLE_TEXT.NAME_LASTNAME }}</ion-label>
      <ion-input formControlName="name" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ _GENARAL.TITLE_TEXT.ADDRESS }}</ion-label>
      <ion-input formControlName="address" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ _GENARAL.TITLE_TEXT.PASSWORD }}</ion-label>
      <ion-input formControlName="password" type="password" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ _GENARAL.TITLE_TEXT.RE_PASSWORD }}</ion-label>
      <ion-input formControlName="repassword" type="password" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ _GENARAL.TITLE_TEXT.TEL }}</ion-label>
      <ion-input formControlName="telephone" maxlength="10" minLength="10" type="text" value=""></ion-input>
    </ion-item>
    
    <button ion-button full color="primary" style="margin-top: 20px;" type="submit">{{ _GENARAL.TITLE_TEXT.REGISTER }}</button>
  </form>
</ion-content>