<ion-tabs color="danger">
  <ion-tab [root]="tab1Root" tabTitle="Currency Converter" tabIcon="logo-usd"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <!--ion-tab [root]="tab3Root" tabTitle="Logout" md="md-exit"></ion-tab>-->
  <!-- <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab> -->
</ion-tabs>
